VITE_SUPABASE_URL=https://jnssarakawgkcqrnjmce.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impuc3NhcmFrYXdna2Nxcm5qbWNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExMDUwMTYsImV4cCI6MjEwNjY4MTAxNn0.pWJG47_ieHkPFvaYx37lCGPeH60aIL7tP8tC0X6wj-E